# The entire data section does not really need to be saved. These files
# are associated with the detector data.
Data/*
*.tar.bz2
*.fits
*.zip

# Nor do VS Community or VS code configuration files.
*.suo
.suo

# Python byte-code files should not be checked. 
*.py[cod]