# Github specific files do not need to be versioned.
.github/*

# The entire data section does not really need to be saved. These files
# are associated with the detector data.
Data/*
*.tar.bz2
*.fits
*.zip

# Nor do VS config files.
*.suo

# Python bytecode files should not be checked. 
*.py[cod]
