astropy

configobj

decorator
docutils

future

glob2

importlib-metadata


matplotlib
more-itertools

numpy
numpydoc

pandas
path
pathlib2
pathtools

pep8
pip
pkginfo
py
pycodestyle
pycosat
pycparser
pycurl
pydocstyle
pyflakes
Pygments
pylint

pyparsing
pyreadline
pyrsistent

pytest
pytest-arraydiff
pytest-astropy
pytest-astropy-header
pytest-doctestplus
pytest-openfiles
pytest-remotedata
python-dateutil
python-jsonrpc-server
python-language-server
pywin32
pywin32-ctypes
pywinpty
PyYAML

requests

scikit-image
scikit-learn
scipy
seaborn
setuptools
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
sympy

unicodecsv
wheel
win-unicode-console


zipp
